<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>User Profile</title>
</head>

<body>

    <nav class="navbar navbar-dark bg-primary mb-3">
        <div class="container">
            <a href="#" class="navbar-brand">User Dashboard</a>
        </div>
    </nav>
    <div class="container searchContainer">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <% if (user) { %>
                <div class="card-header">Welcome <%= user.name %></div>
                <div class="card-body">
                    <h5 class="card-title">You have successfully login with <%= user.email %></h5>
                    <p class="card-text">Hey this is just a basic dashboard to show login success.</p>
                </div>
                </div>
            <% } %>
        </div>
    </div>

    <footer class="mt-5 p-3 text-center bg-light">
        Github Repo Commit Finder &copy;
    </footer>



    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>

</html>